In [1]:
import pandas as pd

In [2]:
csvinput_1 = "./Airline_Delay_cleaned.csv"
csvinput_2 = "./final_weather.csv"

In [3]:
csvoutput = "./Combined_Cleaned.csv"

In [4]:
df_1 = pd.read_csv (csvinput_1)
df_2 = pd.read_csv (csvinput_2)

In [5]:
df_1.head()

,month,City,Air_code,State,Airport,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,1,Aberdeen,ABR,SD,Aberdeen Regional,62.0,4.0,1.03,0.00,1.09,0.0,1.88,2.0,1.0,307.0,43.0,0.0,87.0,0.0,177.0
1,1,Abilene,ABI,TX,Abilene Regional,28.0,9.0,4.94,0.00,2.28,0.0,1.78,1.0,0.0,933.0,589.0,0.0,83.0,0.0,261.0
2,1,Adak Island,ADK,AK,Adak,9.0,4.0,0.00,0.00,2.00,0.0,2.00,0.0,0.0,142.0,0.0,0.0,86.0,0.0,56.0
3,1,Aguadilla,BQN,PR,Rafael Hernandez,159.0,32.0,15.60,1.54,6.26,0.0,8.60,2.0,0.0,2375.0,1086.0,102.0,301.0,0.0,886.0
4,1,Akron,CAK,OH,Akron-Canton Regional,504.0,96.0,23.83,3.90,31.53,0.0,36.76,18.0,2.0,7264.0,2632.0,539.0,1376.0,0.0,2717.0

In [6]:
df_2.head()

,month,Cold,Fog,Hail,Precipitation,Rain,Snow,Storm,EventTotal,Avg_Severity,LocationLat,LocationLng,City,County,State,ZipCode
0,1,0.0,36.0,0.0,1.0,58.0,2.0,0.0,97,2.072165,34.4917,-88.2011,Belmont,Tishomingo,MS,38827.0
1,1,1.0,10.0,0.0,0.0,4.0,39.0,0.0,54,1.555556,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
2,1,5.0,20.0,0.0,0.0,16.0,35.0,0.0,76,1.815789,46.0244,-92.8991,Hinckley,Pine,MN,55037.0
3,1,0.0,4.0,0.0,1.0,0.0,21.0,0.0,26,1.923077,48.8844,-99.6208,Rolla,Rolette,ND,58367.0
4,1,42.0,26.0,0.0,0.0,0.0,70.0,0.0,138,2.275362,48.3008,-102.4064,Stanley,Mountrail,ND,58784.0

In [7]:
df_Combined = df_1.merge(df_2 , how="inner", on=["month", "City", "State"])
df_Combined

,month,City,Air_code,State,Airport,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,...,Precipitation,Rain,Snow,Storm,EventTotal,Avg_Severity,LocationLat,LocationLng,County,ZipCode
0,1,Aberdeen,ABR,SD,Aberdeen Regional,62.0,4.0,1.03,0.00,1.09,...,0.0,0.0,35.0,0.0,67,2.074627,45.4436,-98.4138,Brown,57401.0
1,1,Abilene,ABI,TX,Abilene Regional,28.0,9.0,4.94,0.00,2.28,...,0.0,15.0,1.0,1.0,30,2.500000,32.4113,-99.6819,Taylor,79602.0
2,1,Akron,CAK,OH,Akron-Canton Regional,504.0,96.0,23.83,3.90,31.53,...,0.0,64.0,45.0,0.0,134,1.447761,41.0375,-81.4642,Summit,44306.0
3,1,Albany,ABY,GA,Southwest Georgia Regional,82.0,20.0,9.22,0.00,2.46,...,1.0,68.0,0.0,0.0,80,1.812500,31.5365,-84.1957,Dougherty,31721.0
4,1,Albuquerque,ABQ,NM,Albuquerque International Sunport,1391.0,333.0,104.26,5.31,53.84,...,0.0,27.0,3.0,0.0,35,1.285714,35.0417,-106.6147,Bernalillo,87106.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3276,12,Wichita,ICT,KS,Wichita Dwight D Eisenhower National,611.0,114.0,40.67,4.27,21.05,...,0.0,1.0,4.0,0.0,9,1.666667,37.6472,-97.4294,Sedgwick,67215.0
3277,12,Williston,ISN,ND,Sloulin Field International,125.0,22.0,4.99,1.75,8.27,...,0.0,5.0,40.0,0.0,178,3.213483,48.1739,-103.6367,Williams,58801.0
3278,12,Wilmington,ILM,NC,Wilmington International,153.0,28.0,9.37,2.14,8.38,...,0.0,57.0,0.0,0.0,67,1.552239,34.2706,-77.9026,New Hanover,28405.0
3279,12,Worcester,ORH,MA,Worcester Regional,62.0,10.0,5.82,0.00,0.10,...,0.0,27.0,40.0,0.0,83,1.722892,42.2706,-71.8731,Worcester,1602.0
3280,12,Yuma,YUM,AZ,Yuma MCAS/Yuma International,114.0,12.0,4.61,0.00,1.94,...,0.0,0.0,0.0,0.0,1,4.000000,32.6566,-114.6060,Yuma,85365.0

In [8]:
df_Combined.to_csv(csvoutput,index=False)