In [1]:
import pandas as pd

In [2]:
csvinput = "./WeatherData.csv"
csvoutput = "./WeatherData_cleaned.csv"

In [3]:
df = pd.read_csv (csvinput)

In [4]:
df.head()

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
0,W-1,Snow,Light,2016-01-06 23:14:00,2016-01-07 00:34:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
1,W-2,Snow,Light,2016-01-07 04:14:00,2016-01-07 04:54:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
2,W-3,Snow,Light,2016-01-07 05:54:00,2016-01-07 15:34:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
3,W-4,Snow,Light,2016-01-08 05:34:00,2016-01-08 05:54:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
4,W-5,Snow,Light,2016-01-08 13:54:00,2016-01-08 15:54:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0

In [5]:
df.shape

(5059833, 13)

In [6]:
def year(date):
    datelist = int(date.split("-")[0])
    return datelist
df["year"] = df["StartTime(UTC)"].map(year)

In [7]:
def month(date):
    datelist = int(date.split("-")[1])
    return datelist
df["month"] = df["StartTime(UTC)"].map(month)

In [14]:
df_2017 = df.loc[df["year"]==2017,:].drop(columns=[
    "EventId",
    "StartTime(UTC)", 
    "EndTime(UTC)",
    "TimeZone", 
    "year"
])

In [47]:
def Severity(label):
    if label=="Light" or label=="UNK":
        return 1
    elif label=="Moderate":
        return 2
    elif label=="Heavy":
        return 3
    elif label=="Severe" or label=="Other":
        return 4 
    
df_2017["Severity"] = df_2017["Severity"].map(Severity)

In [48]:
# df_Type = pd.get_dummies(df_2017, columns=["Type"], prefix=[""], prefix_sep="" )
# df_Type

df_Severity_key = pd.DataFrame({
    "Severity_label": ["Light" , "UNK" , "Moderate" , "Heavy" , "Severe" , "Other"],
    "Severity_score": [1, 1, 2, 3, 4, 4]
})
df_Severity_key

  Severity_label  Severity_score
0          Light               1
1            UNK               1
2       Moderate               2
3          Heavy               3
4         Severe               4
5          Other               4

In [49]:
df_2017

,Type,Severity,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode,month
547,Snow,1,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0,1
548,Fog,4,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0,1
549,Snow,1,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0,1
550,Fog,4,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0,1
551,Fog,4,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0,1
...,...,...,...,...,...,...,...,...,...,...
5058798,Fog,4,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0,12
5058799,Fog,4,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0,12
5058800,Snow,1,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0,12
5058801,Fog,4,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0,12
5058802,Fog,4,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0,12

In [58]:
df_location = df_2017.drop(columns=["Type" , "Severity"]).drop_duplicates()
df_location

,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode,month
547,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0,1
601,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0,2
621,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0,3
646,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0,4
680,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0,5
...,...,...,...,...,...,...,...,...
5058634,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0,8
5058635,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0,9
5058648,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0,10
5058703,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0,11
5058747,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0,12

In [50]:
Groupby_2017 = df_2017.groupby(["month", "AirportCode", "Type"])
EventType = Groupby_2017["Severity"].count()
EventType

month  AirportCode  Type
1      K01M         Fog              36
                    Precipitation     1
                    Rain             58
                    Snow              2
       K04V         Cold              1
                                     ..
12     KZPH         Fog              51
                    Rain             18
       KZZV         Fog              11
                    Rain             18
                    Snow             27
Name: Severity, Length: 67814, dtype: int64

In [51]:
Groupby_Type = df_2017.groupby(["month", "AirportCode"])
EventTotal = Groupby_Type["Severity"].count()
EventTotal

month  AirportCode
1      K01M            97
       K04V            54
       K04W            76
       K06D            26
       K08D           138
                     ...
12     KYKM            48
       KYKN            45
       KYNG            79
       KZPH            69
       KZZV            56
Name: Severity, Length: 24049, dtype: int64

In [53]:
Avg_Severity = Groupby_Type["Severity"].mean()

In [60]:
df_One = pd.DataFrame(EventType).reset_index().rename(columns={"Severity": "Type_Count"})
df_One = pd.pivot_table(df_One, index=["month", "AirportCode"],columns=["Type"] , values="Type_Count")\
    .fillna(0).reset_index()
df_One.columns.name=None
df_One

df_Two = pd.DataFrame({
    "EventTotal": EventTotal,
    "Avg_Severity": Avg_Severity
}).reset_index()
# df_Two
df_Summary = df_One.merge(df_Two , how="inner", on=["month", "AirportCode"])
df_Summary = df_Summary.merge(df_location , how="inner", on=["month", "AirportCode"]).drop(columns=["AirportCode"])
df_Summary

,month,Cold,Fog,Hail,Precipitation,Rain,Snow,Storm,EventTotal,Avg_Severity,LocationLat,LocationLng,City,County,State,ZipCode
0,1,0.0,36.0,0.0,1.0,58.0,2.0,0.0,97,2.072165,34.4917,-88.2011,Belmont,Tishomingo,MS,38827.0
1,1,1.0,10.0,0.0,0.0,4.0,39.0,0.0,54,1.555556,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
2,1,5.0,20.0,0.0,0.0,16.0,35.0,0.0,76,1.815789,46.0244,-92.8991,Hinckley,Pine,MN,55037.0
3,1,0.0,4.0,0.0,1.0,0.0,21.0,0.0,26,1.923077,48.8844,-99.6208,Rolla,Rolette,ND,58367.0
4,1,42.0,26.0,0.0,0.0,0.0,70.0,0.0,138,2.275362,48.3008,-102.4064,Stanley,Mountrail,ND,58784.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24044,12,0.0,20.0,0.0,0.0,15.0,13.0,0.0,48,1.916667,46.5640,-120.5348,Yakima,Yakima,WA,98903.0
24045,12,4.0,4.0,0.0,0.0,5.0,26.0,6.0,45,1.933333,42.9167,-97.3859,Yankton,Yankton,SD,57078.0
24046,12,0.0,7.0,2.0,0.0,19.0,51.0,0.0,79,1.341772,41.2544,-80.6739,Vienna,Trumbull,OH,44473.0
24047,12,0.0,51.0,0.0,0.0,18.0,0.0,0.0,69,3.159420,28.2281,-82.1559,Zephyrhills,Pasco,FL,33542.0
24048,12,0.0,11.0,0.0,0.0,18.0,27.0,0.0,56,1.446429,39.9444,-81.8921,Zanesville,Muskingum,OH,43701.0

In [63]:
df_2017.to_csv(csvoutput,index=False)
df_Summary.to_csv("final_weather.csv",index=False)